.busca{
    width:500px;
	height:40px;
	margin-left: 26% ;
	border-radius: 5px;
    padding: 5px 9px;
    background-color:#FFF;
    -webkit-box-shadow: 1px 2px 5px 1px rgba(0,0,0,0.22);
    -moz-box-shadow: 1px 2px 5px 1px rgba(0,0,0,0.22);
    border: 1px solid #c6c6c6;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    color: #222;
}