footer.footer {
    
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: center;
    
    background-color: #FFF;
    box-shadow: var(--shadow);
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 10px;
    color: #333333;
    margin-top: -30.9px;
}

.fa-github{
    font-size: 20px;
    border: #333333;
    border-radius: 2px;
    text-align: center;
    text-decoration: none;
    background: rgb(22, 22, 22) ;
    color: white;
    text-decoration: none;
    margin-top: -9px;
}
.fa-github:hover{
    background: linear-gradient(135deg, #1b1b1b 0%, #272727 100%);
    cursor: pointer
}
